<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.restaurant.dao.IRestaurantDao">

  <resultMap id="RestaurantResultMap" type="com.restaurant.model.Restaurant">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />

    <association property="cashier" column="r_id" select="com.restaurant.dao.ICashierDao.selectByRId"/>

    <collection property="managers" ofType="com.restaurant.model.Manager">
      <id column="m_id" jdbcType="INTEGER" property="mId" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="phone" jdbcType="VARCHAR" property="phone" />
      <result column="r_id" jdbcType="INTEGER" property="rId" />
    </collection>

    <collection property="waiters" ofType="com.restaurant.model.Waiter">
      <id column="w_id" jdbcType="INTEGER" property="wId" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="active" jdbcType="TINYINT" property="active" />
      <result column="r_id" jdbcType="INTEGER" property="rId" />
    </collection>

    <collection property="kitchens" ofType="com.restaurant.model.Kitchen">
      <id column="k_id" jdbcType="INTEGER" property="kId" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="active" jdbcType="TINYINT" property="active" />
      <result column="r_id" jdbcType="INTEGER" property="rId" />
    </collection>

    <collection property="tableGroups" ofType="com.restaurant.model.TableGroup">
      <id column="g_id" jdbcType="INTEGER" property="gId" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="r_id" jdbcType="INTEGER" property="rId" />
    </collection>

  </resultMap>

  <sql id="Restaurant_Column_List">
    r_id, password, name
  </sql>

  <select id="selectRestaurantAndManager" parameterType="java.lang.Integer" resultMap="RestaurantResultMap">
    select 
      r.r_id, r.password, r.name, m.r_id, m.m_id,m.password, m.name, m.phone, m.r_id
    from restaurant r,manager m
    where r.r_id = #{rId,jdbcType=INTEGER} and m.r_id = r.r_id
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from restaurant
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.restaurant.model.Restaurant">
    insert into restaurant (r_id, password, name
      )
    values (#{rId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.restaurant.model.Restaurant">
    insert into restaurant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        r_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rId != null">
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.restaurant.model.Restaurant">
    update restaurant
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.restaurant.model.Restaurant">
    update restaurant
    set password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>